 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" }}"></script>

    <script>
    //'keyup' to trigger the computation as the user types
    $('.income, .aid, .total-monthly-aid, .education, .living').keyup(function () {

        // initialize the sum (total price) to zero
        var incomeSum = 0;
        var aidSum = 0;
        var educationSum = 0;
        var monthlyLivingSum = 0;

        // we use jQuery each() to loop through all the textbox with 'income' class
        // and compute the sum for each loop
        $('.income').each(function() {
            incomeSum += Number($(this).val());
        });

        // set the computed value to 'total-income' textbox
         $('.total-income').val(incomeSum);

        $('.aid').each(function() {
            aidSum += Number($(this).val());
        });

        // set the computed value to 'total-aid' textbox
        $('.total-aid').val(aidSum);

        var updatedAidSum = aidSum / 12;

        $('#total-monthly-aid').val(updatedAidSum);

        var grandTotal = incomeSum + updatedAidSum;

        $('#grand-total-income').val(grandTotal);


        //set computed value to 'education' textboxes
        $('.education').each(function() {
            educationSum += Number($(this).val());
        });

        // set the computed value to 'total-education' textbox
         $('.total-education').val(educationSum);

         var updatedEducationSum = educationSum / 12;

         $('#total-monthly-education').val(updatedEducationSum);

         //set computed value to 'living' textboxes
          $('.living').each(function() {
          monthlyLivingSum += Number($(this).val());
          });

          // set the computed value to 'total living' textbox
          $('.total-living').val(monthlyLivingSum);

    });

    </script>
